@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #13111a;
    --color-secondary: 241, 245, 249;
  }
}

body,
html {
  height: 100%;
}

body {
  background: var(--color-primary);
  color: rgb(var(--color-secondary));
  font-family: var(--font-inter);
}
